/my_allure_results/
/venv/
/my_allure_results/
/test_fix/
/my_allure_results/
/test_newcalc_fixture/
/test_newcalc_fixture/
/test_pageobject/
/test_newcalc_fixture/
/test_po/
/test_selenium/
/testproxy/
